---
layout: "wrapper"
---


<div style="position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
margin:auto;">
        Hello!
        My name is Moe Barjas I'm Front End Developer based in Canada. I describe myself as a developer who loves coding, open source, and the web platform.
        
        In my spare time I like to create and contribute to open source projects. That helps me to learn a lots of new stuff, grow as a developer and support other open source projects. I love travelling and discovering new places.
        
        Also, I enjoy writing at my blog and going to developer meetups and conferences around me.
</div>